@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-button-hover {
    @apply hover:scale-110 duration-700;
  }

  .button-small {
    @apply custom-button-hover rounded-lg border border-deep-purple bg-deep-purple py-1 px-4 text-sm font-bold text-white transition-all hover:bg-white hover:text-deep-purple;
  }
  .button-large {
    @apply custom-button-hover rounded-lg border border-deep-purple bg-deep-purple py-1.5 px-4 lg:py-2 lg:px-6 text-xl font-bold text-white transition-all hover:bg-white hover:text-deep-purple;
  }
}